body {
    background-color: black;
    }
    
    .navbar {
    width: 100%;
    max-width: 960px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    
    .navbar-brand {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: grey;
    height: 100px;
    padding-top:30px;
    padding-left: 30px;
    padding-right: 30px; 
    }




    h1 {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    font-weight: 500;
    }
    
    .nav-link {
    padding-left: 100px;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
    color: darkslategrey;
    }
    
    
    
    #first-hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    }
        
    .container {
    background-color: white;
    max-width: 960px;
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  
    }
    
    hr {
    height: 2px;
    background-color: darkgrey;
    margin-bottom:0;
    }
    
    .row-1 {
    margin-bottom: 0px;

    }
        


 #know {
  padding-left: 60px;
  margin-left: 50px;
  margin-bottom: 5px;
 text-decoration: underline;
 font-family: 'Audiowide', cursive;
 font-size: 30px;
 }

#check {
padding-top: 10px;

}

#lists {
    margin-top: 0px;
    margin-left: 10%;
    font-family: 'Nanum Gothic', sans-serif;
}
    #first {
        margin-left: 0;
        margin-top: 25px;
        width: 70%;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
    }
    .me {
    width: 250px;
    margin: 10px;
    padding: 10px;

    }
    #second {
        padding-top: 25px;
    }
    h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    font-weight: 500;
   padding: 2px;
   
    line-height: 25px;
    text-align: center;
    }


        
    /* contact */
    
    input[type=message] {
    padding-bottom: 200px;
    padding-top: 20px;
    }

    .contacts {
        font-family: 'Major Mono Display', monospace;
        font-size: 20px;
        text-align: center;
    }
    
    .form {
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    padding-bottom: 20px;
    }
    
    /* portfolio */
        
    .project {
    width: 250px;
    position: relative;
    float: left;
    margin: 10px;
    }
    
    h3 {
    position: absolute;
    width: 250px;
    bottom: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 15px;
    font-weight: 500;
    background: grey; 
    }
    
    @media only screen and (max-width: 991px) {
    #navbutton {
        margin-left: 80%;
        margin-top: 30px;
        margin-bottom: 1px;
border-color: black;
    }
  .navbar-collapse {  
   margin-left: 80%;
   margin-bottom: 1px;
  }
  .title {
      margin-top: 0px;
  }
    }


        
    /*fonts
    font-family: 'Charm', cursive;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Audiowide', cursive;
    font-family: 'Roboto Mono', monospace;
font-family: 'Nanum Gothic', sans-serif;
    */

